$mobile-large-min-width: 350px;
$tablet-min-width: 640px;
$tablet-large-min-width: 900px;
$desktop-min-width: 1200px;

$header-element-gap: 16px;
$header-nav-gap: 32px;
$header-height: 48px;
$header-padding: 15px;
$header-logo-scale: 0.8;

$primary-color: #0f0f11;
$secondary-color: #89939a;
